.container-resposta{
  overflow: hidden;
  max-height: 100vh;
  padding-bottom: 35vh;
}

.inactive.line {
  /* border-right: 2px solid rgba(255, 255, 255, 0.75); */
  color: rgba(214, 214, 214, 0.75);
  font-family: "Special Elite", monospace;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
}

.active.line {
  /* border-right: 2px solid rgba(255, 255, 255, 0.75); */
  color: rgba(255, 255, 255, 0.75);
  font-family: "Special Elite", monospace;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
}

.inactive.typing-animation {
  animation: desfoque 1000ms normal both;
}

.active.typing-animation {
  /* animation: blinkCursor 500ms steps(40) infinite normal, */
  /* typing 4s steps(40) 1s normal both; */
  animation: surgimento 3s normal both;
}

@keyframes surgimento {
  from {
    color: transparent;
  }
  to {
    color: rgba(255, 255, 255, 0.75);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes desfoque {
  from {
    font-size: 3em;
  }
  to{
    font-size: 1.5em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}